@font-face {
  font-family: "Helvetica-95-Black";
  src: url("../../JH_art/fonts/helvetica-neue-lt-std-95-black-594b91982fdff.woff2") format("woff2"), url("../../JH_art/fonts/helvetica-neue-lt-std-95-black-594b91982fdff.woff") format("woff"), url("../../JH_art/fonts/helvetica-neue-lt-std-95-black-594b91982fdff.otf") format("opentype"), local("Helvetica 95 Black");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-65-Mid";
  src: url("../../JH_art/fonts/HelveticaNeueLTPro-Md.woff2") format("woff2"), url("../../JH_art/fonts/HelveticaNeueLTPro-Md.woff") format("woff"), url("../../JH_art/fonts/HelveticaNeueLTPro-Md.otf") format("opentype"), local("Helvetica 65 Mid");
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0 5%;
  margin: 0 auto;
  background-color: black;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: white;
  font-family: "Helvetica-65-Mid";
}

.nav-link:hover {
  color: #FFD523;
}

.nav-item {
  padding: 0px 20px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

h1 {
  font-family: "Helvetica-95-Black";
  color: white;
}

h3 {
  font-family: "Helvetica-65-Mid";
}

p {
  font-family: "Helvetica-65-Mid", Helvetica, sans-serif;
  color: white;
}

.button-wrapper {
  display: block;
  padding: 1.5em 0;
}
.button-wrapper a {
  border: solid 2px #FFD523;
  background-color: #FFD523;
  padding: 1em 4.4em;
  font-family: "Helvetica-95-Black";
  font-weight: 500;
  font-size: 1em;
  color: black;
  text-decoration: none;
}
.button-wrapper a:hover {
  border: solid 2px white;
  background-color: white;
  transition: 0.1s ease-in-out;
}

.button-wrapper-alt {
  display: block;
  padding: 1.5em 0;
}
.button-wrapper-alt a {
  border: solid 2px white;
  padding: 1em 2em;
  font-family: "Helvetica-95-Black";
  font-weight: 500;
  font-size: 1em;
  color: white;
  text-decoration: none;
}
.button-wrapper-alt a:hover {
  border: solid 2px #FFD523;
  background-color: #FFD523;
  color: black;
  transition: all ease-in-out 0.1s;
}

.herosec_desktop {
  display: none;
}

.about-sec {
  width: 85%;
}

.grid-container {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.grid-section {
  background: rgb(39, 39, 39);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  max-width: 550px;
}

@media screen and (min-width: 992px) {
  .navbar-brand {
    font-size: 4em;
  }
  .button-wrapper {
    display: block;
    padding: 2em 0;
    padding-right: 1em;
  }
  .button-wrapper a {
    border: solid 2px #FFD523;
    background-color: #FFD523;
    padding: 1em 4.4em;
    font-family: "Helvetica-95-Black";
    font-weight: 500;
    font-size: 1em;
    color: black;
    text-decoration: none;
  }
  .button-wrapper a:hover {
    border: solid 2px white;
    background-color: white;
    transition: 0.1s ease-in-out;
  }
  .button-wrapper-alt {
    display: block;
    padding: 2em 0;
  }
  .button-wrapper-alt a {
    border: solid 2px white;
    padding: 1em 2em;
    font-family: "Helvetica-95-Black";
    font-weight: 500;
    font-size: 1em;
    color: white;
    text-decoration: none;
  }
  .button-wrapper-alt a:hover {
    border: solid 2px #FFD523;
    background-color: #FFD523;
    color: black;
    transition: all ease-in-out 0.1s;
  }
  .herosec_mobile {
    display: none;
  }
  .herosec_desktop {
    display: flex;
  }
  .about-sec {
    width: 60%;
  }
  .span-2 {
    grid-column: auto/span 2;
    max-width: 1500px;
  }
}/*# sourceMappingURL=main.css.map */